.games_card {
    background: rgb(43 45 80 / 60%);
    box-shadow: 0px 0px 6px #5F5F6F;
    border-radius: 8px;
    padding: 20px;
    min-height: 100vh;
}

.games_card .individual_game_card {
    background: rgb(43 45 80 / 60%) !important;
}

.games_card .individual_game_card .card-body .card-text {
    background: rgba(61, 61, 61, 0.49);
    border-radius: 3.49392px;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #03FB75;
    font-family: 'Poppins_Medium';
    padding: 10px;
}

.games_card .individual_game_card .card-body .card-text .redirect{
    width: 31px;
    height: 31px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 7.5px 11.5px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}