.sidebar {
  min-height: 100vh;
  height: auto;
  font-family: sans-serif !important;
  font-weight: 400;
  background: #202447;
  padding: 0;
  width: 304px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  display: block;
  box-shadow: 0px 0px 6px #5f5f6f;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sidebar .nav:not(.sub-menu) {
  margin-top: 0.5rem;
}

.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 30px;
}

.sidebar .nav .nav-item {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
}

.sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.75rem 2rem 0.75rem 2rem;
  color: #ffffff;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  font-size: 18px;
  font-family: 'Poppins_Light';
}

.sidebar .nav .nav-item.active > .nav-link {
  background: initial;
  position: relative;
}

.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link {
  margin: 0;
}

.sidebar .nav .nav-item .nav-link img {
  line-height: 1;
  margin-right: 1.5rem;
  width: 23px;
}

.sidenav_top_images {
  position: relative;
  padding: 35px 0px;
  margin-bottom: 20px;
}

.sidenav_top_images .sidenav_logo {
  position: absolute;
  right: 35px;
  cursor: pointer;
}

.sidenav_top_images .sidenav_close {
  position: absolute;
  left: 35px;
  top: 45px;
  cursor: pointer;
}

.sidebar .nav .nav-item.active {
  background: linear-gradient(92.26deg, rgba(89, 67, 245, 0.4) 22.32%, rgba(177, 2, 205, 0.328) 98.62%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar .nav .nav-item.active .nav-link {
  font-family: 'Poppins_Bold';
}

.theme_conversion_buttons {
  flex-direction: row !important;
}

.theme_conversion_buttons .nav-item .nav-link.active {
  background: #01022f !important;
  box-shadow: 0px 0px 6px #5f5f6f !important;
  border-radius: 8px 0px 0px 8px;
}

@media (min-width: 992px) {
  .sidebar .sidebar-content-wrapper {
    /* height: calc(100vh - (18px + 18px)); */
    overflow: auto;
    position: relative;
  }
}
.disabled {
  cursor: not-allowed;
}
