.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main_panel {
  margin-left: 300px;
  margin-top: 80px;
}
body {
  background: #01022f !important;
  /* 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 */
}
